body {
  font-family: 'Helvetica Neue','Segoe UI',Helvetica,Verdana,sans-serif;
  font-size: 18px;
}
#content {
	margin: 20px;
}

#filter, #filter-label {
  max-height: 30px;
  margin: auto 5px;
}

#filter-container {
  text-align: right;
}

/* ---- CLEAR-FIX ---- */
#header {
  margin-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

#header > [class*='col-'] {
  display: flex;
}

/* END OF CLEAR-FIX */

/* ---- STAR BADGE ---- */
#bck1, #bck2, #bck3, #bck4 {
	margin: 0;
	margin-left: 3px;	
   	position: relative;
   	display: inline-block;
   	width: 0px;
   	height: 0px;
   	border-radius: 25%;
   	border: 15px solid #666666;
}

#bck2, #bck3, #bck4 {
	margin: -14px;
   	position: relative;
   	display: block;
   	border-radius: 25%;
   	border: 14px solid #ffffff;
}

#bck3 {
	margin: -13px;
   	border: 13px solid #cbcbcb;
}

#bck4 {
	margin: -10px;
   	border: 10px solid #d7d7d7;
   	-moz-box-shadow: 0 0 3px #505050;
   	-webkit-box-shadow: 0 0 3px #505050;
    		box-shadow: 0 0 3px #505050;
}

#bck4::before {
   	position: absolute;
   	display: block;
   	top: 0;
   	left: -10px;
   	width: 0px;
   	height: 0px;
   	border-radius: 25%;
   	border-top: 10px solid #c5c5c5;
   	border-left: 20px solid #c5c5c5;
   	content: '';}

#star{
   margin: -2px -5px;
   position: relative;
   display: block;
   width: 0px;
   height: 0px;
   border-right:  5px solid transparent;
   border-bottom: 3.5px  solid #888888;
   border-left:   5px solid transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
}
#star:before {
   border-bottom: 4px solid #888888;
   border-left: 1.5px solid transparent;
   border-right: 1.5px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -2.5px;
   left: -3px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
}
#star:after {
   position: absolute;
   display: block;
   top: 0px;
   left: -5px;
   width: 0px;
   height: 0px;
   border-right: 5px solid transparent;
   border-bottom: 3.5px solid #888888;
   border-left: 5px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}
/* END OF STAR BADGE */

/* ---- SONG BADGE ---- */
#badge-container {
  text-align: center;
}

.song {
  background: #F5F5F5;
  border-radius: 100px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 5px #EAEAEA;
  display: inline-block;
  height: 350px;
  margin: 20px 10px;
  padding: 15px 0;
  width: 200px;
  text-align: center;
}

.song h3 {
  color: #999;
  font-size: 1.9rem;
  font-weight: 200;
  min-height: 40px;
  margin: 25px;
}

.song h4 {
  margin: 10px 0 10px 0;
}

.song a {
  display: block;
  width: 200px;
}

.container {
  text-align: center;
}

.meta-button {
	min-width: 75px;
}

.btn-badge, .released-date {
	margin-top: 15px;
}

.difficulty {
  	margin-top: 30px;
  	margin-bottom: 0px;
}

/* END OF SONG BADGE */